* {
    font-family: Lato;
  }
  
  ngx-dropzone,
  .custom-dropzone {
    margin: 20px;
  }
  
  .custom-dropzone {
      height: 160px;
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border: 0.2px dashed rgb(0, 0, 0);
      border-radius: 0px;
       font-size: 16px; 
       /* font-family: "Times New Roman", Times, serif; */
       font-style: none;
  }
  
  .custom-dropzone.ngx-dz-hovered {
    border: 2px solid rgb(83, 241, 91);
  }