* {
  font-family: Arial, sans-serif;
}

.navbar {
  justify-content: space-between;
   height: 2.8rem; 
}

span {
  padding-right: 1rem;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

span.active {
  color: rgb(35, 150, 20);
}

span:hover {
  color: lightgray;
}
